/* Updated ChatApp.css with styling that aligns with the design of App */
body {
    align-items: center;
    font-family: Arial, Arial;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    min-height:100vh;
}

.chat-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 600px;
    background-color: #1b1523;
    border-radius: 30px;
    margin: 0;
    padding: 25px 25px 25px 25px;
}

.chat {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    padding: 20px;
    margin-top: 20px;
}

.chat-messages {
    height: 50vh;
    width: 50vh;
    border-radius: 30px;
    overflow-y: scroll;
    border: 1px solid #1b1523;
    padding: 10px;
    background-color: #1b1523;
    margin-top: 20px;
    margin-bottom: 35px;
}
.chat-messages::-webkit-scrollbar {
    display: none;
}

.message-box {
    background-color:white;
    padding: 8px;
    border-radius: 10px;
    margin: 10px 0;
    max-width: 100%;
    text-align: left;
    color: #1b1523;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 2px solid #1b1523;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: white;
    color: #1b1523;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
